.img-responsive {
  height: 300px;
  margin: 1em;
}
.beerThumbnail:hover .panel {
  transform: scale(1.02);
  transition: all ease-in-out 500ms;
  box-shadow: 3px 3px 4px darkgray;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: 	#F5F5F5; 
}
::-webkit-scrollbar-thumb:hover {
  background:#a1a7af
}
.panel-heading {
  overflow: scroll;
  overflow-x: hidden;
  height: 3em;
  
}
.panel-footer {
  overflow: scroll;
  overflow-x: hidden;
  height: 3em;
}

.container {
  min-height: 100vh;
}
#beer-data {
  display: inline
}
#single-beer-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#single-beer-page-wrapper > div > img{
  height: 80vh;
}
#single-beer-page-wrapper > div {
  width: 33vw;
}
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}
.jumbotron {
  margin-bottom: 0;
  background-image: url("../images/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
footer {
  background-color: #f2f2f2;
  padding: 15px;
  color: darkgray;
}
#right-icon {
  float: right;
  cursor: pointer;
}
.left-icon {
  float: left;
  padding: 2px;
}
.btn-group-vertical {
  pointer-events: none;
}
.btn-group {
  pointer-events: none;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
#single-beer-description{
  color: #888b91;
  padding-top: 20px;
}
#single-beer-food-pairing{
  color: #888b91;
  padding-bottom: 20px;
}
.beer-id {
  font-size: xx-small;
  float: right;
}
h1 {
  font-family: Impact, Charcoal, sans-serif;
}
.display-cursor {
  cursor: pointer;
}
#filterContainer{
  color:  #9d9d9d;
  visibility:hidden; 
  padding: 12px 15px 0px 15px;
  margin-bottom: 0.5em;
  
}
.glyphicon-search:hover, #clearButton:hover{
  color: white;
}

#filterContainer{
  color:  #9d9d9d;
  visibility:hidden;
  padding: 12px 15px 0px 15px;
  margin-bottom: 0.5em;
 
 }
 .glyphicon-search:hover, #clearButton:hover{
  color: white;
 }
 #beerName {
  border-radius: 5px;
  padding-left: 5px;
  width: 7em;
 }
 #beerName:focus, #beerName:active {
  outline: none;
 }
 .dropdown {
  border-radius: 5px;
  padding-left: 1px;
  height: 1.9em;
 }
 .dropdown:focus, .dropdown:active {
  outline: none;
 }
 .navbar-label {
  margin-left: 5px
 }
